<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <h1>Add your friends to your address book.</h1>
    @if (@Model.Count == 0)
    {
      <h2>You don't have any friends yet :( </h2>
    }
    <p><a href ="/contact/new">Add a friend's infomation</a></p>

  </body>
</html>
