<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <form action="/contact_created" method="post">
      <label for="contact-first-name">First Name:</label>
      <input name="contact-first-name" type="text">
      <br><br>
      <label for="contact-last-name">Last Name:</label>
      <input name="contact-last-name" type="text">
      <br><br>
      <label for="contact-phone">Phone Number:</label>
      <input name="contact-phone" type="text">
      <br><br>
      <label for="contact-address">Address:</label>
      <input name="contact-address" type="text">


      <button type="submit">Add Contact</button>
    </form>
    <p><a href="/">Back to Main Page</a>
  </body>
</html>
