<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new contact</title>
  </head>
  <body>
    <form action="/addContact" method="post">
      <label for="contact-first-name">First Name:</label>
      <input name="contact-first-name" type="text">
      <br><br>
      <label for="contact-last-name">Last Name:</label>
      <input name="contact-last-name" type="text">
      <br><br>
      <label for="contact-phone">Phone Number:</label>
      <input name="contact-phoner" type="text">
      <br><br>
      <label for="Address">Address:</label>
      <input name="Address" type="text">


      <button type="submit">Add Contact</button>
    </form>
    <p><a href="/">Back to Main Page</a>
  </body>
</html>
